body {
    background-color: #A8D0E6;
    font-family: Arial, sans-serif;
    color: #39424E;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    background-color: #F99797;
    padding: 20px;
}

li a{
     display: inline-block;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}
   
li a:hover {
     background-color: #F76C6C;
}

.corpo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
}

p{
    text-align: justify;
    font-weight: bold;
    padding: 10px 10px;
}

p a:hover{
    color:darkseagreen;
    background-color: transparent;
}

p a:link{
    text-decoration: none;
}

.texto{
    background-image: url(../img/mancha-color4.png);
    background-repeat: no-repeat;
    
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

h3{
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

footer{
    background-color: #F99797;
    text-align: center;
    padding: 10px 0;
}

.footer {
    display: inline-block;
    text-align: center;
}

.p-do-footer{
    background-color:gainsboro;
    text-align: center;
    font-weight: normal;
}

.aside{
    text-align: center;
    margin-left: 70px;
}

.paragrafoNomal{
    text-align: justify;
    font-weight: normal;
    padding: 10px 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}